@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {    
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

    @-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

div.type {
	/* float: left; */
}

div.text {
  color: #fff;
  padding: 30px;
  font-size: 22px;
  background: #14d424;
  border: 2px dashed #F7F9CC;
  border-radius: 10px;
  box-shadow: 0 0 0 7px #14d424;
  margin-top: 40px;
  text-align: center;
}

div.id{
  /* float: left; */
  padding-left: 20px;
  text-align: center;
}

div.abilities {
	/* float: left; */
}

div.location {
  color: blue;
}

div.location th{
  padding-right: 10px;
  padding-left: 10px;
}

div.location td{
  width: 300px;
}
div.location table{
  width: auto;
}

div.graph {
    float:right;
	color: red;
	margin-top: 110px;
	margin-right: 60px;
	right: 0;
	background-color: white;
}

div.name {
	color: red;
    z-index: 4;
  font-weight: bold;
  display: block;
  text-align: center;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  padding: 4px 8px;
  margin-left: 60px;
  margin-top: 20px;
  border-width: thin;
  border-style: solid;
  border-radius: 12px;
  text-shadow: 1px 1px 0 rgba(100%, 100%, 100%, 0.75);
  width: 770px;
  border-color: #393;
  box-shadow: inset 0 0 0 3px rgba(0%, 50%, 0%, 0.25);
  background-color: white;
}
div.name p{
	padding-left: 36%;
}
div.image {
    float: left;
    /* position: fixed; */
    z-index: 4;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
    z-index: 0;
}

.twinkling{
  width:10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    
    -moz-animation:move-background 10s linear infinite;
  -ms-animation:move-background 10s linear infinite;
  -o-animation:move-background 10s linear infinite;
  -webkit-animation:move-background 10s linear infinite;
  animation:move-background 10s linear infinite;
  
}

.clouds{
    position: fixed;
  width:10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 20s linear infinite;
  -ms-animation:move-background 20s linear infinite;
  -o-animation:move-background 20s linear infinite;
  -webkit-animation:move-background 20s linear infinite;
  animation:move-background 20s linear infinite;
}
.background-container{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

div.all-box{
    margin:2em 0;
    position: relative;
    margin: 80px;
    border: solid 1px rgb(219, 21, 38);
	border-radius: 3px 0 3px 0;
	background-color: #EEFFFF;
	background-image: url("./PokemonBackground.png");
	background-size:cover;
    width: 900px;
    height: 760px;
    z-index: 4;
}

.back{
	position: relative;
	padding: 0.2em 0.5em;
	background: linear-gradient(to right, rgb(218, 24, 10), #ffa703);
	color: white;
	font-weight: lighter;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  font-size: 30px;
  text-decoration: none;
}

.back:before {
	content: '✨';
	color: white;
	margin-right: 8px;
  }

table{
	width: 200px;
	border-collapse:separate;
	border-spacing: 0;
  }

  table th{
	text-align: center;
	color:white;
	background: linear-gradient(rgb(0, 124, 111), #7fffd4);
	border-left: 1px solid #7fffc4;
	border-top: 1px solid #7fffc4;
	border-bottom: 1px solid #7fffc4;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
	padding: 10px 0;
  }

  table td{
  text-align: center;
  border-top: 1px solid #a8b7c5;
	border-left: 1px solid #a8b7c5;
	border-bottom: 1px solid #a8b7c5;
	box-shadow: 0px -3px 5px 1px #eee inset;
	width: 300px;
	padding: 10px ;
	background-color: white;
  }

  table td:last-child{
	border-right: 1px solid #a8b7c5;
  }